.container section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    align-content: center;
    display: flow;
}

.container section button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    margin-right: 20px;
    margin-top: 9px;
    float: right;
}

.container section button:hover {
    opacity: 90%;
}

.container section div.locations, .container section div.amenities {
    height: 100%;
    width: 25%;
    float: left;
    margin-left: 10px;
    margin-bottom: 0px;
    h3 {
        font-weight: 600;
        margin-bottom: 2px;
    }
    h4 {
        font-size: 14px;
        margin-top: 2px;
    }
    .popover {
        background-color: #FAFAFA;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        display: none;
        width: 100%;
        h2 {
            font-size: 16px;
        }
    }
}

.container section div.locations{
    border-right: 1px solid  #DDDDDD;
}

.container section div.locations:hover {
    .popover {
        display: block;
    }
}

.container section div.amenities:hover {
    .popover {
        display: block;
    }
}